/* footer.css */
.footer {
  /* position: fixed; */
  bottom: 0;          /* Đặt footer vào dưới cùng của trang */
  left: 0;
  width: 100%;        /* Chiếm toàn bộ chiều rộng */
  background-color: #222020;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
