<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">Quản lý mua bán</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Thống kê</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Profile</a>
      </li>
    </ul>
  </div>
</nav>