html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    min-height: 100vh; /* Chiều cao tối thiểu 100% */
    display: flex;
    flex-direction: column;
  }
  
  .row {
    flex-grow: 1;
  }
  
  footer {
    background-color: #f8f9fa;
    text-align: center;
  }
  